<% conversation_user = private_conversation.user %>
<% person = (conversation_user == current_user) ? "You" : private_conversation.user.full_name %>
<p>
  <% if conversation_user.avatar.attached? %>
    <span class="avatar">
      <image src="<%=(url_for(conversation_user.avatar))%>">
    </span>
  <% end %>
  <strong><%=person%></strong>  <%= private_conversation.created_at.strftime("%F, %I:%M %p") %>
</p>
<p><%= emojify private_conversation.body %></p>
<hr>
