<table>
  <tr>
    <td>Home</td>
    <td>
       <span align="right">
         <span><strong><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></strong></span>
         <%= link_to "signout", destroy_user_session_path, {method: :delete} %>
       </span>
     </td>
 </tr>
</table>
